<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Dashboard | Capture Glow</title>
		<!-- CSS only -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
			crossorigin="anonymous"
		/>
		<style>
            @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Outfit:wght@100;400&display=swap');
            .center { position: absolute; top: 50%; left: 50%; margin-right: -50%;
			transform: translate(-50%, -50%); padding-left: 200px; width: 983px; }
            
            html, body {
                height: 100%;
                width: 100%;
                margin: 0;
                font-family: Inter, sans-serif;
                font-weight: 700;
            }

            .dashboard {
                display: flex;
                width: 100%;
                justify-content: flex-start;
            }

            .sidebar {
                background-color: #E9F8E3;
                width: 20%;
                display: flex;
                flex-direction: column;
                position: fixed;
                height: 100%;
                z-index: 1;
            }

            .logo {
                margin: 20px auto;
            }
             
            .logo img{
                width: 150px;
                height: 150px;
            }
            .menu {
                display: flex;
                flex-direction: column;
            }

            .menu-item {
                display: flex;
                justify-content: flex-start;
                margin: 0 40px;
            }

            .menu p {
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 48px;
                letter-spacing: 0.2px;
                text-transform: capitalize;
                margin: 0 0 0 13px;
            }
        
            .main {
                position: fixed;
                display: flex;
                flex-direction: column;
                width: 80%;
                padding-left: 25%;
                width: 100%;
  	            height: 100%;
            }

            .heading {
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin: 100px 5px 0px 5px;
            
            }

            .heading p {
                font-size: 28px;;
                letter-spacing: -0.5px;
                color: #000000;
            }

            .right {
                display: flex;
                justify-content: space-between;
                width: 12.25rem
            }

            .right p {
                margin: auto 0;
            }

            .button {
                border: none;
                text-align: center;
                border-radius: 8px;
            }

            .button-purple {
                margin: auto 0;
                padding: 5px;
                font-size: 15px;
                line-height: 25px;
                width:8.75rem;

                background-color: #AEDEC7;
                color: #333634;
                border: none
            }

            .opaque {
                opacity: 0.4;
            }

            a {
                text-decoration: none;
                color: #000;
            }

            a:hover {
                color: #000;
            }

            .building-zones {
                text-align: center;
                margin-top: 40px;
            }

            .mytable {
                width: 100%;
                border-radius: 25px;
            }

            thead tr, tbody tr:nth-child(even) {
                background-color: #D2EFC7;
            }

            tbody tr:nth-child(odd) {
                background-color: #E9F8E3;
            }

            tbody tr:last-child {
                border-radius:  0 0 25px 0;
            }
            

		</style>
	</head>
	<body>
		<div class="dashboard">
            <div class="sidebar">
                <div class="logo">
                    <img src="logo.png" alt="logo">
                </div>

                <div class="menu">
                    <div class="menu-item">
                        <a href="/dashboard"><p>Dashboard</p></a>
                    </div>
                </div>

                <div class="menu opaque">
                    <div class="menu-item">
                        <a href="/agents"><p>Agents</p></a>
                    </div>
                </div>
                
            </div>

            <div class="main">
                <div class="heading">
                    <p>Dashboard</p>
                    <div class="right">
                        <button class="button button-purple"><a href="/logout">Logout</a></button>
                    </div>
                </div>

                <div class="center">
                    <div class=" mytable table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                <th scope="col"></th>
                                <th scope="col">LGA</th>
                                <th scope="col">No. of Buildings</th>
                                <th scope="col">Tax Accurable</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <th scope="row">Zone A</th>
                                <td>6</td>
                                <td>6</td>
                                <td>N26,000</td>
                                </tr>
                                <tr>
                                <th scope="row">Zone B</th>
                                <td>7</td>
                                <td>7</td>
                                <td>N7000</td>
                                </tr>
                                <tr>
                                <th scope="row">Zone C</th>
                                <td>6</td>
                                <td>6</td>
                                <td>N5000</td>
                                </tr>
                                <tr>
                                    <th>All Zones</th>
                                    <th>16</th>
                                    <th>21</th>
                                    <th>N38,000</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
		<!-- JavaScript Bundle with Popper -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
			crossorigin="anonymous"
		></script>
	</body>
</html>